@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 83% 4%;
    --foreground: 210 20% 98%;

    --card: 222 83% 4%;
    --card-foreground: 210 20% 98%;

    --popover: 222 83% 4%;
    --popover-foreground: 210 20% 98%;

    --primary: 217 91% 60%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;

    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 218 11% 65%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 6%; /* #0d1117 */
    --foreground: 210 20% 98%; /* #f0f6fc */

    --card: 220 13% 11%; /* #161b22 */
    --card-foreground: 210 20% 98%;

    --popover: 220 13% 6%;
    --popover-foreground: 210 20% 98%;

    --primary: 212 92% 59%; /* #388bfd */
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14% 14%; /* #21262d */
    --secondary-foreground: 210 20% 98%;

    --muted: 220 14% 14%;
    --muted-foreground: 215 14% 54%; /* #848d97 */

    --accent: 220 14% 14%;
    --accent-foreground: 210 20% 98%;

    --destructive: 351 91% 47%; /* #f85149 */
    --destructive-foreground: 210 20% 98%;

    --border: 216 12% 19%; /* #2a2f37 */
    --input: 220 13% 6%;
    --ring: 212 92% 59%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
